.header {
  width: 160rem;
  margin: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 7rem;
  list-style: none;
}

.nav-text {
  font-size: 1.6rem;
  color: rgb(28, 58, 109);
}
